name: Release

on:
    push:
        tags:
            - versions/*
    workflow_dispatch:
        inputs:
            deploy_tag:
                description: The tag to deploy (e.g., 1.5.2)
                required: true

env:
    REGISTRY: ghcr.io
jobs:
    # 1. PARALLEL BUILD JOB
    build:
        runs-on: ubuntu-latest
        permissions:
            contents: read
            packages: write

        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: set lower case owner name
              run: |
                  echo "IMAGE_NAME_PREFIX=ghcr.io/${OWNER,,}/playwright-screenshot" >> ${GITHUB_ENV}
              env:
                  OWNER: "${{ github.repository_owner }}"

            - name: Normalize tag
              run: |
                  RAW_TAG="${{ github.event.inputs.deploy_tag || github.ref_name }}"
                  SAFE_TAG="${RAW_TAG#*/}"
                  SAFE_TAG="${SAFE_TAG//\//-}"
                  echo "IMAGE_TAG=$SAFE_TAG" >> $GITHUB_ENV

            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v3

            - name: Log in to GHCR
              uses: docker/login-action@v3
              with:
                  registry: ${{ env.REGISTRY }}
                  username: ${{ github.actor }}
                  password: ${{ secrets.GITHUB_TOKEN }}

            - name: Build and Push to GHCR
              uses: docker/build-push-action@v5
              with:
                  context: .
                  file: Dockerfile
                  push: true
                  tags: |
                      ${{ env.IMAGE_NAME_PREFIX }}:${{ env.IMAGE_TAG }}
                      ${{ env.IMAGE_NAME_PREFIX }}:latest
                  # Enables layer caching to make subsequent builds faster
                  #cache-from: type=gha
                  #cache-to: type=gha,mode=min
